<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/octicons/1024/terminal-128.png" type="image/x-icon">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata:400,700">
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
(function(f, a, t, h, o, m){
	a[h]=a[h]||function(){
		(a[h].q=a[h].q||[]).push(arguments)
	};
	o=f.createElement('script'),
	m=f.getElementsByTagName('script')[0];
	o.async=1; o.src=t; o.id='fathom-script';
	m.parentNode.insertBefore(o,m)
})(document, window, '//134.209.20.139/tracker.js', 'fathom');
fathom('set', 'siteId', 'NXKHQ');
fathom('trackPageview');
</script>
<!-- / Fathom -->
