<div class="container mb-4">
	<div class="row align-items-center">
			<div class="col-12 col-lg">
					<h1><a href="/">Murilo Polese</a></h1>
			</div>
			<div class="col-12 col-lg text-lg-right">
					<ul class="menu list-inline">
						{{# each navLinks}}
							<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
								<a href="{{ link }}">{{ label }}</a>
							</li>
						{{/each}}
					</ul>
			</div>
	</div>
</div>
