<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Murilo Polese</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
          <div class="name">
            <h1>
              <a href="#">
                Murilo Polese
              </a>
            </h1>
          </div>
          <ul class="menu">
            <li><a href="#">CV</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Workshops</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
      </div>
      <div class="home">
        <div class="text">
          <p>
            <strong>Hello! My name is Murilo, I am a Brazilian technologist</strong> (or a full stack developer if you prefer).
          </p>
          <p>
            I am profoundly interested in learning experiences and technology. But I'm equally interested in music, microscope and drawing machines.
          </p>
          <p>
            If you are smiling after reading this, get in touch and let's have a chat!
          </p>
          <p style="text-align: center">
            :)
          </p>
          <p style="text-align: center">
            <a href="#">Github</a> / <a href="#">Email</a> / <a href="#">Twitter</a> / <a href="#">Instagram</a>
          </p>
        </div>
        <div class="avatar">
          <img src="murilism.jpg" alt="Murilo Polese">
        </div>
      </div>
    </div>
  </body>
</html>
