@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
}

/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  font-family: 'Inconsolata', monospace;
  line-height: 1.4em;
  color: #323;
  background: #fffdff;
  padding: 1rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

p {
  padding-bottom: 1rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2em 0;
}
h1 a {
  color: #000 !important;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2em 0;
}

h3 {
  font-size: 1.1rem;
  font-weight: 700;
  padding-bottom: 2em 0;
}

a:link,
a:active,
a:hover,
a:visited {
  color: #656;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

a.external {
  padding-right: 1rem;
}

h1, h2, h3, h4, h5, ul, ol, iframe {
  padding-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: circle;
  font-size: 0.8em;
}

small {
  font-size: 0.5em;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

nav .categories {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

header {
  padding: 4rem 0rem 2rem 0rem;
  text-align: center;
  max-width: 960px;
  margin: auto;
}
main {
  max-width: 960px;
  margin: auto;
}

.thumbnails {
  padding: 1em 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.thumbnails img {
  height: 225px;
  width: 225px;
  object-fit: cover;
}

.thumbnails a {
  cursor: pointer;
}

article {
  display: flex;
  padding: 1.25rem 0;
}
article figure {
  max-height: 11rem;
  width: 40%;
  overflow: hidden;
}
article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
article section {
  width: 60%;
  padding: 0 1.5rem;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.gallery > * {
  width: 25%;
  object-fit: contain;
  padding: 1rem;
  cursor: pointer;
}

::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog {
  background: white;
  border: none;
  overflow: visible;
  padding: 0;
  max-width: 680px;
  width: 90%;
}

.thumbnails dialog img {
  width: 100%;
  height: auto;
  /* max-width: 680px; */
}

dialog .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

dialog button {
  position: absolute;
  top: 0em;
  right: 0em;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  transform: translate(50%, -50%);
  background: rgb(0, 0, 0, 0.85);
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 960px) {
  body {
    font-size: 0.8rem;
  }
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
    position: relative;
  }
  nav h1 {
    line-height: 1em;
  }
  nav .categories a {
    display: inline-block;
    width: 100%;
    padding: 1em 0;
  }
  header {
    padding: 1rem 1rem;
  }
  article {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem 0;
  }
  article figure,
  article section {
    width: 100%;
    padding: 0;
  }
  article h3 {
    line-height: 1.3em;
    padding: 1em 0;
  }
  .gallery > * {
    width: 50%;
    object-fit: contain;
    padding: 1rem;
  }
  .thumbnails {
    padding: 1em 0;
    /* padding: 0; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .thumbnails > a {
    display: inline-block;
    height: 125px;
    width: calc(50% - 1em);
    object-fit: cover;
    overflow: hidden;
  }
  .thumbnails a img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 810px) {
  .thumbnails > a {
    height: 225px;
    width: 225px;
  }
}
