<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/octicons/1024/terminal-128.png" type="image/x-icon">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata:400,700">
        <link rel="stylesheet" href="{{page.basepath}}assets/main.css">
    </head>
    <body>
        <div class="container">
            {% include header.html %}
            <div class="content">
                {{ content }}
            </div>
            <div class="list">
                {% for post in site.categories[page.category] %}
                    <div class="item">
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        {% if post.cover %}
                            <a href="{{ post.url }}"><img src="{{ page.basepath }}{{ post.cover }}" alt="{{ post.title }}"></a>
                        {% endif %}
                        {{ post.excerpt }}
                        <p>
                            <a href="{{ post.url }}">Read more</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
